<?xml version="1.0" encoding="utf-8" ?>
<!--internalLogLevel 记录Nlog自身日志级别，正式环境改为Error
    autoReload="true" nlog.config配置文件修改，程序将会重新读取配置文件，也就是自动再配置
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="${basedir}/internal-nlog.txt">
  <!-- 启用.net core的核心布局渲染器 -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <!--<add assembly="NLog.Mongo" />-->
  </extensions>
  <!-- 写入日志的目标配置 -->
  <targets>
    <!-- all : write logs to file -->
    <target xsi:type="File" name="all" fileName="${basedir}/logs/all-${shortdate}.log"
					 layout="${longdate} |${uppercase:${level}}|${logger}|${message} ${exception} " />
    <!-- debug : write logs to file -->
    <target xsi:type="File" name="debug" fileName="${basedir}/logs/debug-${shortdate}.log"
					 layout="${longdate} |${uppercase:${level}}|${logger}|${message} ${exception} " />
    <!-- info : write logs to file -->
    <target xsi:type="File" name="info" fileName="${basedir}/logs/info-${shortdate}.log"
					 layout="${longdate} |${uppercase:${level}}|${logger}|${message} ${exception} |url: ${aspnet-request-url} |action: ${aspnet-mvc-action}" />
    <!-- error : write logs to file -->
    <target xsi:type="File" name="error" fileName="${basedir}/logs/error-${shortdate}.log"
					 layout="${longdate} |${uppercase:${level}}|${logger}|${message} ${exception} |url: ${aspnet-request-url} |action: ${aspnet-mvc-action}" />

    <!-- 用于托管生命周期消息的控制台目标，以改进Docker / Visual Studio启动检测 -->
    <!--<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />-->
  </targets>
  <!-- 映射规则 -->
  <rules>
    <!-- 将宿主生命周期消息输出到控制台目标，以更快地进行启动检测 -->
    <!--<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />-->

    <!-- 全部  -->
    <!--<logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="all" />-->

    <!-- 跳过不重要的微软日志 -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

    <!-- 调试  -->
    <logger name="*" levels="Trace,Debug" writeTo="debug" />
    <!-- 信息、警告  -->
    <logger name="*" levels="Info,Warn" writeTo="info" />
    <!-- 错误、致命错误  -->
    <logger name="*" levels="Error,Fatal" writeTo="error" />
  </rules>
</nlog>